<script id="conteudo">
    <div id="conteudo-principal" class="container-fluid">
        <div class="principal row">
            <div class="conteudo-centrado">
            <p>Millhouse has been teaching since he was a kid and has racked up a bunch of Education degrees since then. A glutton for punishment, he's nearly finished with a Computer Science degree, too. He's built and taught curriculum for over 100 DVDs worth of educational material, barely living to tell the tale. He spends his lack of spare time wishing he could play a few video games, impersonating the British voice of his corgi, Charlie, and being the actual Voice of the University of Central Florida Marching Knights. Reach him with @ItsThrillhouse on Twitter.</p>
            
            </div>
        </div>
    </div>
</script>